.active-story-view {
  padding: 20px;
}

.active-story-view .grid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.active-story-view .point {
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}
.active-story-view .point.selected{
  border-color: seagreen;
}

.active-story-view .result {
  display: block;
  padding: 20px 0;
  text-align: center;
  font-weight: 600;
}
